@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.audiowide-font {
  font-family: 'Audiowide', sans-serif;
}

/* Hide scrollbar but keep scroll functionality */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
